<!--Jamaal Bernabe Student Number: 301061242 Date: October 3rd, 2021-->
<!--Services Section-->
<body class="bg-secondary bg-gradient" style="background-repeat: no-repeat">
  <main class="container bg-secondary bg-gradient">
    <div class="mt-4 p-5 bg-primary text-white rounded">
      <div class="container-fluid mx-auto">
        <h1 class="display-5 fw-bold text-center"><%= title %></h1>
        <p class="text-center">What can I do for you?</p>
        <hr />
      </div>
    </div>

    <div class="row my-2">
      <div class="col col-lg-4 py-3">
        <div class="card bg-dark p-4 rounded-2 text-light">
          <i class="fas fa-at fa-10x card-img-top text-center"> </i>
          <div class="card-body">
            <h5 class="card-title">Web Design</h5>
            <p class="card-text">
              Design sites using the most current technology available
            </p>
          </div>
        </div>
      </div>
      <div class="col col-lg-4 py-3">
        <div class="card bg-dark p-4 rounded-2 text-light">
          <i class="fas fa-code fa-10x card-img-top text-center"> </i>
          <div class="card-body">
            <h5 class="card-title">Software Development</h5>
            <p class="card-text">Construct logic for applications and sites</p>
          </div>
        </div>
      </div>

      <div class="col col-lg-4 py-3">
        <div class="card bg-dark p-4 rounded-2 text-light">
          <i class="fas fa-user-tie fa-10x card-img-top text-center"> </i>
          <div class="card-body">
            <h5 class="card-title">Consultation</h5>
            <p class="card-text">
              Help your team with concept and implementation
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
